if SHIELD_CROSS_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
	default "Cross Corne"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CROSS_CORNE_LEFT || SHIELD_CROSS_CORNE_RIGHT

config ZMK_SPLIT
	default y

endif
