#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
 * 30 positions (5 rows × 6 cols)
 * pos = row_idx * 6 + col_idx
 * pos 0-9  → '0'-'9'
 * pos 10-19 → 'a'-'j'
 * pos 20-29 → 'k'-'t'
 *
 * Rows: [gpio0 29, gpio1 4, gpio0 8, gpio0 9, gpio0 10]
 * Cols: [gpio1 11, gpio1 13, gpio1 15, gpio0 2, gpio0 31, gpio1 6]
 */

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };

    keymap {
        compatible = "zmk,keymap";
        diag {
            bindings = <
/* r0 */ &kp N0 &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
/* r1 */ &kp N6 &kp N7 &kp N8 &kp N9 &kp A  &kp B
/* r2 */ &kp C  &kp D  &kp E  &kp F  &kp G  &kp H
/* r3 */ &kp I  &kp J  &kp K  &kp L  &kp M  &kp N
/* r4 */ &kp O  &kp P  &kp Q  &kp R  &kp S  &kp T
            >;
        };
    };
};
